@media screen and (min-width: 0px) {
    .ll-header {
        width: 100%;
        height: 555px;

        .header-image {
            height: 474px;
            object-fit: cover;
        }

        .header-cover {
            width: 343px;
            height: 204px;
            left: calc((100% - 343px) / 2);
            top: 81px;

            .title {
                font-size: 22px;
                padding: 0px 20px;
            }

            .button {
                width: 243px;
                height: 50px;
                color: #FDFDFD;
            }
        }

        .usp {
            height: 81px;
            box-shadow: 0px 4px 6.8px 0px rgba(0, 0, 0, 0.12), 0px 0px 50px 0px rgba(0, 0, 0, 0.12);

            overflow-x: auto;
            white-space: nowrap;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;

            .title {
                font-size: 18px;
            }

            .subtitle {
                font-size: 14px;
            }

            .item-divider {
                width: 1px;
                height: 34px;
                background-color: #D3D3D3;
                margin-top: 23px;
            }

            .item-icon {
                background-color: #FFDBE9;
                width: 49px;
                height: 49px;
            }

            >div {
                flex: 0 0 auto;
            }
        }

        .usp::-webkit-scrollbar {
            display: none;
        }
    }
}

@media screen and (min-width: 375px) {}

@media screen and (min-width: 768px) {
    .ll-header {
        height: 502px;

        .header-image {
            height: 421px;
        }

        .header-cover {
            width: 668px;
            height: 280px;
            left: calc((100% - 668px) / 2);
            top: 71px;

            .title {
                font-size: 50px;
                padding: 0;
            }

            .button {
                width: 220px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .ll-header {
        height: 533px;

        .header-cover {
            width: 946px;
            height: 230px;
            left: calc((100% - 946px) / 2);
            top: 91px;
        }

        .usp {
            height: 112px;

            .title {
                font-size: 20px;
            }

            .subtitle {
                font-size: 16px;
            }

            .item-divider {
                margin-top: 39px;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .ll-header {
        .header-cover {
            width: 946px;
            height: 248px;
            left: calc((100% - 946px) / 2);
            top: 82px;

            .title {
                font-size: 56px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {}