@media screen and (min-width: 0px) {
    .ll-header {
        width: 100%;
        height: 555px;

        .header-image {
            height: 474px;
            object-fit: cover;
        }

        .header-cover {
            width: 343px;
            /* height: 204px; */
            left: calc((100% - 343px) / 2);
            top: 139px;

            .title {
                font-size: 22px;
                padding: 0px 20px;
                width: 293px;
            }

            .button {
                width: 243px;
                height: 50px;
                color: #FDFDFD;
            }
        }

        .usp {
            height: 81px;
            box-shadow: 0px 4px 6.8px 0px rgba(0, 0, 0, 0.12), 0px 0px 50px 0px rgba(0, 0, 0, 0.12);

            overflow-x: auto;
            white-space: nowrap;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;

            .title {
                margin-top: -5px;
                font-size: 18px;
            }

            .subtitle {
                font-size: 14px;
                white-space: normal;
                min-width: 150px;
            }

            .item-divider {
                width: 1px;
                height: 34px;
                background-color: #D3D3D3;
                margin-top: 23px;
                flex-shrink: 0;
                display: block;
            }

            .item-icon {
                background-color: #FFDBE9;
                width: 49px;
                height: 49px;
            }

            >div {
                flex: 0 0 auto;
            }
        }

        .usp::-webkit-scrollbar {
            display: none;
        }
    }

    .ll-second {
        width: 100%;
        margin-top: -10px;

        .bg-title {
            background: #FFDBE9;
            transform: rotate(-1deg);
            z-index: 0;
            left: 15px;
            top: 7px;
            width: 205px;
            height: 18px;
        }

        .title {
            z-index: 1;
            font-size: 20px;
            padding-bottom: 28px !important;
        }

        .content-container {
            .mobile-image {
                width: 100%;
                height: 270px;
                border-radius: 20px;
                object-fit: cover;
            }

            .mobile-play {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
            }

            .content {
                position: relative;

                .step {
                    position: relative;
                    display: flex;
                    align-items: flex-start;

                    .item-title {
                        font-size: 16px;
                    }

                    .item-description {
                        font-size: 14px;
                    }
                }

                .step:not(:last-child)::after {
                    content: "";
                    position: absolute;
                    left: 12px;
                    top: 24px;
                    bottom: -40px;
                    width: 1px;
                    background-color: #D3D3D3;
                }

                .step-number {
                    position: relative;
                    z-index: 1;
                    background: #EA4C89;
                    color: #FCFCFC;
                    font-weight: normal;
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;
                    flex-shrink: 0;
                }
            }
        }
    }

    .ll-why-choose-us {
        background-color: #F5F5F5;
        width: 100%;
        margin-top: -10px;

        .real-container {
            .left-container {
                width: 100%;

                .title {
                    font-size: 20px;
                    line-height: 1.2;
                }

                .content {
                    gap: 24px;

                    .icon {
                        min-width: 44px;
                        max-width: 44px;
                    }

                    .subtitle {
                        font-size: 18px;
                    }

                    .description {
                        font-size: 14px;
                    }
                }

                .button {
                    width: 100%;
                    height: 52px;
                }
            }

            .right-container {
                width: 100%;
                padding-bottom: 60px;

                .item {
                    background-color: #FCFCFC;
                    border: 1px solid #D3D3D3;
                    border-radius: 20px;

                    .description {
                        font-size: 14px;
                    }

                    .icon {
                        background-color: #FFDBE9;
                        width: 34px;
                        height: 34px;
                    }
                }

                .item-1 {
                    height: fit-content;
                }

                .item-2 {
                    height: fit-content;
                }

                .item-3 {
                    height: 335px;

                    .logo {
                        height: 34px;
                        top: 20px;
                        left: 15px;
                    }

                    .container-1 {
                        overflow: hidden;
                        background-size: 100% auto;
                        top: 111px;
                        left: 15px;
                        width: 135px;
                        height: 224px;
                    }

                    .container-2 {
                        overflow: hidden;
                        background-size: 100% auto;
                        top: 75px;
                        left: calc(100% - 155px);
                        width: 135px;
                        height: 260px;
                    }

                    .image {
                        margin: 8px;
                        width: 119px;
                        border-top-left-radius: 35px;
                        border-top-right-radius: 35px;
                    }
                }
            }
        }
    }

    .ll-footer {
        margin-top: -10px;
        margin-bottom: 30px;

        .left-content {
            background-color: #F5F7F9;
            border-radius: 20px;
            border: 1px solid #D3D3D3;
            padding: 30px 15px;
            width: calc(100%);

            .title {
                font-size: 20px;
                line-height: 1.2;
            }

            .description {
                height: 100px;

                .text {
                    .phone-number-cover {
                        top: 12px;
                        right: -5px;
                    }

                    .phone-number-cover-text {
                        top: 12px;
                        right: -5px;
                        width: 116px;
                        height: 26px;
                        font-size: 12px;
                        padding-top: 6px;
                    }

                    .images {
                        width: 95px;

                        .image-1 {
                            width: 50px;
                            left: 45px;
                        }

                        .image-2 {
                            width: 50px;
                            left: 0px;
                        }
                    }
                }
            }

            .button {
                width: 100%;
                height: 50px;
            }
        }
    }
}

@media screen and (min-width: 375px) {
    .ll-why-choose-us {
        .real-container {
            .right-container {
                .item-3 {
                    .container-1 {
                        left: 15px;
                        width: 150px;
                    }

                    .container-2 {
                        left: calc(100% - 170px);
                        width: 150px;
                    }

                    .image {
                        width: 134px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .ll-why-choose-us {
        .real-container {
            .right-container {
                .item-3 {
                    .container-1 {
                        left: 30px;
                        width: 170px;
                    }

                    .container-2 {
                        left: calc(100% - 200px);
                        width: 170px;
                    }

                    .image {
                        margin: 10px;
                        width: 150px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 550px) {
    .ll-why-choose-us {
        .real-container {
            .right-container {
                .item-3 {
                    .container-1 {
                        left: 40px;
                        width: 175px;
                    }

                    .container-2 {
                        left: calc(100% - 215px);
                        width: 175px;
                    }

                    .image {
                        width: 155px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .ll-why-choose-us {
        .real-container {
            .right-container {
                .item-3 {
                    .container-1 {
                        left: 50px;
                        width: 180px;
                    }

                    .container-2 {
                        left: calc(100% - 230px);
                        width: 180px;
                    }

                    .image {
                        width: 160px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 650px) {
    .ll-why-choose-us {
        .real-container {
            .right-container {
                .item-3 {
                    .container-1 {
                        left: 60px;
                        width: 195px;
                    }

                    .container-2 {
                        left: calc(100% - 255px);
                        width: 195px;
                    }

                    .image {
                        width: 175px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 700px) {
    .ll-why-choose-us {
        .real-container {
            .right-container {
                .item-3 {
                    .container-1 {
                        left: 70px;
                        width: 210px;
                    }

                    .container-2 {
                        left: calc(100% - 280px);
                        width: 210px;
                    }

                    .image {
                        width: 190px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .ll-header {
        height: 502px;

        .header-image {
            height: 421px;
        }

        .header-cover {
            width: 668px;
            /* height: 280px; */
            left: calc((100% - 668px) / 2);
            top: 116px;

            .title {
                width: 570px;
                font-size: 50px;
                padding: 0;
            }

            .button {
                width: 220px;
            }
        }

         .usp {
            .subtitle {
                min-width: none;
                min-width: 115px;
                max-width: 115px;
                white-space: normal;
                font-size: 12px;
            }
        }
    }

    .ll-second {
        .bg-title {
            left: calc(50% - 152px);
            top: 15px;
            width: 305px;
            height: 20px;
        }

        .title {
            font-size: 30px;
            padding-bottom: 50px !important;
        }

        .content-container {
            justify-content: space-between;

            .sticky {
                flex: 1;
                min-width: calc(50vw - 40px);
                max-width: calc(50vw - 40px);
                top: 100px;

                .image {
                    width: 100%;
                    height: 300px;
                    border-radius: 20px;
                    object-fit: cover;
                }

                .sticky-play {
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 50px;
                    height: 50px;
                }
            }

            .content {
                flex: 2;
                min-width: calc(50vw - 40px);
                max-width: calc(50vw - 40px);

                .step {
                    .item-title {
                        font-size: 18px;
                    }

                    .item-description {
                        font-size: 16px;
                    }
                }

                .step:not(:last-child) {
                    margin-bottom: 10px;
                }

                .step:not(:last-child)::after {
                    bottom: -50px;
                }

                .step-number {
                    margin-right: 20px;
                }
            }
        }
    }

    .ll-why-choose-us {
        .real-container {
            .left-container {
                .title {
                    font-size: 30px;
                }

                .content {
                    .subtitle {
                        font-size: 20px;
                    }

                    .description {
                        font-size: 16px;
                    }
                }

                .button {
                    width: 308px;
                }
            }

            .right-container {
                .item {
                    .description {
                        font-size: 16px;
                    }
                }

                .item-3 {
                    .logo {
                        left: 20px;
                    }

                    .container-1 {
                        overflow: hidden;
                        background-size: 100% auto;
                        top: 111px;
                        left: 20px;
                        width: 150px;
                        height: 224px;
                    }

                    .container-2 {
                        overflow: hidden;
                        background-size: 100% auto;
                        top: 75px;
                        left: calc(100% - 170px);
                        width: 150px;
                        height: 260px;
                    }

                    .image {
                        margin: 8px;
                        width: 134px;
                    }
                }
            }
        }
    }

    .ll-footer {
        margin-bottom: 60px;

        .left-content {
            background-color: #F5F7F9;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top: 1px solid #D3D3D3;
            border-left: 1px solid #D3D3D3;
            border-bottom: 1px solid #D3D3D3;
            border-right: none;
            padding: 40px 20px;
            width: calc(50%);

            .title {
                font-size: 24px;
                line-height: 1.1;
            }

            .button-left {
                border: 1px solid #EA4C89;
                background-color: #FCFCFC;
            }
        }

        .right-image {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top: 1px solid #D3D3D3;
            border-right: 1px solid #D3D3D3;
            border-bottom: 1px solid #D3D3D3;
            width: calc(50%);
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 900px) {
    .ll-why-choose-us {
        .real-container {
            .right-container {
                .item-3 {
                    .container-1 {
                        left: 30px;
                    }

                    .container-2 {
                        left: calc(100% - 180px);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 950px) {
    .ll-why-choose-us {
        .real-container {
            .right-container {
                .item-3 {
                    .container-1 {
                        left: 50px;
                    }

                    .container-2 {
                        left: calc(100% - 200px);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .ll-header {
        height: 533px;

        .header-cover {
            width: 946px;
            /* height: 230px; */
            left: calc((100% - 946px) / 2);
        }

        .usp {
            height: 112px;

            .title {
                font-size: 20px;
            }

            .subtitle {
                white-space: normal;
                max-width: 140px;
                font-size: 14px;
            }

            .item-divider {
                margin-top: 39px;
            }
        }
    }

    .ll-second {
        .content-container {
            .sticky {
                min-width: calc(50vw - 50px);
                max-width: calc(50vw - 50px);

                .image {
                    height: 350px;
                }
            }

            .content {
                flex: 2;
                min-width: calc(50vw - 50px);
                max-width: calc(50vw - 50px);
            }
        }
    }

    .ll-why-choose-us {
        .real-container {
            .right-container {
                .item-3 {
                    height: 368px;

                    .container-1 {
                        top: 75px;
                        left: 20px;
                        width: 198px;
                        height: 295px;
                    }

                    .container-2 {
                        top: 27px;
                        left: calc(100% - 218px);
                        width: 198px;
                        height: 342px;
                    }

                    .image {
                        margin: 11px;
                        width: 176px;
                    }
                }
            }
        }
    }

    .ll-footer {
        .left-content {
            .description {
                .text {
                    max-width: 250px;

                    .phone-number-cover,
                    .phone-number-cover-text {
                        top: 3px;
                        right: -5px;
                    }
                }

                .lg-images {
                    width: 145px;

                    .lg-image-1 {
                        width: 80px;
                        left: 65px;
                        top: 10px
                    }

                    .lg-image-2 {
                        width: 80px;
                        left: 0px;
                        top: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1140px) {
    .ll-why-choose-us {
        .real-container {
            .right-container {
                .item-3 {
                    .container-1 {
                        left: 45px;
                    }

                    .container-2 {
                        left: calc(100% - 243px);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .ll-header {
        .header-cover {
            width: 946px;
            /* height: 248px; */
            left: calc((100% - 946px) / 2);
            top: 110px;

            .title {
                width: 628px;
                font-size: 56px;
            }
        }

        .usp {
            .title {
                margin-top: 0px;
            }

            .subtitle {
                max-width: none;
                white-space: nowrap;
            }
        }
    }

    .ll-second {
        margin-top: 0px;

        .bg-title {
            top: 55px;
        }

        .content-container {
            .sticky {
                min-width: calc(50vw - 125px);
                max-width: calc(50vw - 125px);

                .image {
                    height: 390px;
                }
            }

            .content {
                min-width: calc(50vw - 125px);
                max-width: calc(50vw - 125px);

                .step:not(:last-child) {
                    margin-bottom: 0px;
                }

                .step:not(:last-child)::after {
                    bottom: -70px;
                }
            }
        }
    }

    .ll-why-choose-us {
        margin-top: 0px;

        .real-container {
            .left-container {
                max-width: 490px;

                .title {
                    font-size: 35px;
                }

                .content {
                    .icon {
                        min-width: 64px;
                        max-width: 64px;
                    }

                    .subtitle {
                        font-size: 24px;
                    }
                }

                .button {
                    width: 250px;
                }
            }

            .right-container {
                max-width: 624px;
                padding-bottom: 110px;

                .item-1 {
                    height: 301px;
                }

                .item-2 {
                    height: 301px;
                }

                .item-3 {
                    height: 435px;

                    .container-1 {
                        top: 81px;
                        left: 45px;
                        width: 240px;
                        height: 358px;
                    }

                    .container-2 {
                        top: 23px;
                        left: 341px;
                        width: 240px;
                        height: 416px;
                    }

                    .image {
                        margin: 13px;
                        width: 214px;
                    }
                }
            }
        }
    }

    .ll-footer {
        margin-top: 0px;
        margin-bottom: 110px;

        .left-content {
            padding: 70px 60px;

            .title {
                font-size: 30px;
                line-height: 1.1;
            }

            .description {
                height: 80px;

                .text {
                    max-width: 303px;
                }

                .lg-images {
                    .lg-image-1 {
                        top: 0px;
                    }

                    .lg-image-2 {
                        top: 0px;
                    }
                }
            }

            .button {
                max-width: 221.5px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .ll-second {
        .content-container {
            .sticky {
                min-width: 550px;
                max-width: 550px;
            }

            .content {
                max-width: 661px;
                min-width: 661px;
            }
        }
    }

    .ll-why-choose-us {
        .real-container {
            .left-container {
                max-width: 585px;

                .title {
                    font-size: 44px;
                    line-height: 52px;
                }
            }

            .right-container {
                max-width: 649px;

                .item-1 {
                    height: 281px;
                }

                .item-2 {
                    height: 281px;
                }

                .item-3 {
                    .container-1 {
                        left: 57px;
                    }

                    .container-2 {
                        left: 353px;
                    }
                }
            }
        }
    }

    .ll-footer {
        .left-content {
            .description {
                .text {
                    max-width: 354px;
                }
            }
        }
    }
}

@media screen and (min-width: 1460px) {
    .ll-second,
    .ll-footer {
        max-width: 1440px;
    }

    .ll-why-choose-us {
        .real-container {
            max-width: 1440px;
        }
    }

    #we-landlord {
        margin-left: calc((100% - 100vw) / 2 + 10px);
        width: calc(100vw - 20px);
    }
}