#we-terminbuchung, #we-kontaktformular, #we-angebotsformular, #we-jetzt-anmelden, #we-objektunterlagen, #we-gebote-meldung {
    --we-primary: #EA4C89;
    --we-primaryLighter: #FC84B2;
    --we-dark: #707070;
    --we-textLight: #b1b1b1;
}