@media screen and (max-width: 1023px) {
    .et_pb_menu .et_mobile_nav_menu {
        float: none !important;
        margin: 0 6px !important;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
    .et_pb_column .et_pb_row_inner, .et_pb_row {
        padding: 30px 0 !important;
    }
    .et_pb_row {
        max-width: 1080px !important;
    }
    .et_pb_menu--style-left_aligned .et_pb_menu__wrap {
        -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .et_pb_row_0_tb_header, .et_pb_button_3_tb_header {
        display: none!important;
    }
    .et_pb_row_1-2_1-4_1-4 {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }
}

@media screen and (min-width: 1024px) {
    .et_pb_row_1-2_1-4_1-4 {
        display: none!important;
    }
}


